<div class="banner">
        <div class="container">
            <div class="banner-main">
                <h4>Welcome To Our Design</h4>
                <h2>Corporate  Agency</h2>		
                <span class="ban-line"> </span>	
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
                <a href="/contact.html">Get in Touch</a>
            </div>
        </div>
</div>