<% layout('../shared/layoutinner') %>

<section>
  <div class="about">
    <div class="container">
      <div class="about-main">
        <div class="about-top">
          <h2> <%= pageTitle %> </h2>
        </div>  
        <div class="about-bottom">
          <div class="col-md-12">
            <%- pageContent %>
          </div>
        </div> 
      </div>
    </div>
  </div>
</section>


